/** ANIMATIONS **/
@include keyframes(arrow-wobble-before) {
    0% {
        margin-right: 0;
    }
    19% {
        margin-right: 0;
    }
    20% {
        margin-right: 12px;
    }
    39% {
        margin-right: 12px;
    }
    40% {
        margin-right: 24px;
    }
    59% {
        margin-right: 24px;
    }
    60% {
        margin-right: 24px;
    }
    79% {
        margin-right: 24px;
    }
    80% {
        margin-right: 12px;
    }
    99% {
        margin-right: 12px;
    }
    100% {
        margin-right: 0px;
    }
}

@include keyframes(arrow-wobble-after) {
    0% {
        margin-left: 0;
    }
    19% {
        margin-left: 0;
    }
    20% {
        margin-left: 12px;
    }
    39% {
        margin-left: 12px;
    }
    40% {
        margin-left: 24px;
    }
    59% {
        margin-left: 24px;
    }
    60% {
        margin-left: 24px;
    }
    79% {
        margin-left: 24px;
    }
    80% {
        margin-left: 12px;
    }
    99% {
        margin-left: 12px;
    }
    100% {
        margin-left: 0px;
    }
}
/** MIXINS **/
@mixin pseudo--header_secondary-span($content, $clr-primary, $clr-secondary) {
    &::before,
    &::after {
        content: $content;
    }

    &::before {
        color: $clr-primary;
    }

    &::after {
        color: $clr-secondary;
    }
}

/** STYLING **/
.header--secondary {
    color: $clr--secondary-purple;
    text-shadow: 2px -2px 0px $clr--primary-blue;
    margin: map-get($spacing-y, sm ) 0 0;

    .header--secondary-span_before,
    .header--secondary-span_after {
        color: $clr--secondary-purple;
    }

    .header--secondary-span_before {
        @include pseudo--header_secondary-span('>', $clr--primary-blue, $clr--secondary-pink);
    }

    .header--secondary-span_after {
        @include pseudo--header_secondary-span('<', $clr--secondary-pink, $clr--primary-blue);
    }
}

.header--secondary-title_screen {
    opacity: 0;

    animation: show 0.5s linear;
    animation-fill-mode: forwards;

    .header--secondary-span_before {
        animation: arrow-wobble-before 0.4s linear 2;
        animation-delay: 0.5s;
    }

    .header--secondary-span_after {
        animation: arrow-wobble-after 0.4s linear 2;
        animation-delay: 0.5s;
    }
}

.header--secondary-large {
    font-size: 33px;
    
    @include set-style(tablet){
        font-size: 36px;
    }

    @include set-style(laptop){
        font-size: 40px;
    }
}