.sequence-note{
    font-size: 40px;
    text-align: center;

    cursor: pointer;

    @include set-style(tablet){
        font-size: 40px;
    }

    @include set-style(laptop){
        font-size: 60px;
    }
}



.enabled {
    color: $clr--primary-yellow;
}

.playing {
    color: $clr--primary-blue;
}

