/** ANIMATIONS **/
@include keyframes(arrow-wobble-before) {
    0%, 24%, 100% {
        margin-right: 0;
    }
    25%, 49%, 75%, 99% {
        margin-right: 12px;
    }
    50%, 74% {
        margin-right: 24px;
    }
}

@include keyframes(arrow-wobble-after) {
    0%, 24%, 100% {
        margin-left: 0;
    }
    25%, 49%, 75%, 99% {
        margin-left: 12px;
    }
    50%, 74% {
        margin-left: 24px;
    }
}

/** MIXINS **/
@mixin pseudo--sub-title-span($content, $clr-primary, $clr-secondary) {
    &::before,
    &::after {
        content: $content;
    }

    &::before {
        color: $clr-primary;
    }

    &::after {
        color: $clr-secondary;
    }
}

/** STYLING **/
.sub-title {
    color: $clr--secondary-purple;
    text-shadow: 2px -2px 0px $clr--primary-blue;

    .sub-title--span-hightlight {
        color: $clr--secondary-pink;
    }

    .sub-title--span-before,
    .sub-title--span-after {
        color: $clr--secondary-purple;
    }

    .sub-title--span-before {
        @include pseudo--sub-title-span('>', $clr--primary-blue, $clr--secondary-pink);
    }

    .sub-title--span-after {
        @include pseudo--sub-title-span('<', $clr--secondary-pink, $clr--primary-blue);
    }
}

.sub-title--fade-in {
    opacity: 0;

    animation: show 0.5s linear;
    animation-fill-mode: forwards;

    .sub-title--span-before {
        animation: arrow-wobble-before 0.5s linear 2;
        animation-delay: 0.5s;
    }

    .sub-title--span-after {
        animation: arrow-wobble-after 0.5s linear 2;
        animation-delay: 0.5s;
    }
}

.sub-title--large {
    font-size: 33px;

    @include set-style(tablet){
        font-size: 36px;
    }

    @include set-style(laptop){
        font-size: 40px;
    }
}