/** MIXINS **/
@mixin pseudo--header_primary($color, $top, $left) {
    content: 'BIT BAND';
    color: $color;

    position: absolute;
    width: 100%;
    top: $top;
    left: $left;
    
    z-index: -1;
    white-space: nowrap;
}

/** STYLING **/
.main-title {
    color: $clr--primary-yellow;
    letter-spacing: 10px;

    position: relative;
    
    &::after{
        @include pseudo--header_primary($clr--primary-red, 0, 10);
    }
    &::before{
        @include pseudo--header_primary($clr--primary-blue, -5, 4);
    }
}

.main-title_fade-in {
    opacity: 0;

    animation: show 0.5s linear;
    animation-fill-mode: forwards;
}

.main-title_large {
    font-size: 90px;

    @include set-style(tablet){
        font-size: 90px;
    }

    @include set-style(laptop){
        font-size: 110px;
    }
}

.main-title_medium {
    font-size: 80;
}