$clr--primary-yellow : #EDD241 ;
$clr--primary-red : #BF3F3F;
$clr--primary-blue : #617BFF;

$clr--secondary-purple: #C050EC;
$clr--secondary-pink: #D251B8;

.text--primary-yellow {
    color: $clr--primary-yellow !important;
}

.text--primary-red {
    color: $clr--primary-red !important;
}

.text--primary-blue {
    color: $clr--primary-blue !important;
}

.text--secondary-purple {
    color: $clr--secondary-purple !important;
}

.text--secondary-pink {
    color: $clr--secondary-pink !important;
}

.bg--primary-yellow {
    background: $clr--primary-yellow !important;
}

.bg--primary-red {
    background: $clr--primary-red !important;
}

.bg--primary-blue {
    background: $clr--primary-blue !important;
}

.bg--secondary-purple {
    background: $clr--secondary-purple !important;
}

.bg--secondary-pink {
    background: $clr--secondary-pink !important;
}