@include keyframes(show){
    0%, 19% {
        opacity: 0;
    }
    20%, 39% {
        opacity: 0.2;
    }
    40%, 59% {
        opacity: 0.4;
    }
    60%, 79% {
        opacity: 0.6;
    }
    80%, 99% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}